.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-image: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
    min-height: 100vh;
}

mat-card {
    width: 100%;
    max-width: 900px;
    padding: 24px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

mat-card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(16, 137, 211);
}